<div class="content">
  <div class="background-white w-100">
    <h1 class="title">{{ title }} {{ destinationCode }}</h1>
    <div
      *ngFor="let ticket of tickets | async; trackBy: trackByTicket"
      (click)="selectTicket(ticket)"
    >
      <p>Passenger: {{ ticket.passenger }}</p>
      <p>Flight: {{ ticket.flight }}</p>
      <p>From: {{ ticket.from }}</p>
      <p>Class: {{ ticket.class }}</p>
      <p>Gate: {{ ticket.gate }}</p>
      <p>Time: {{ ticket.time }}</p>
      <p>Seat: {{ ticket.seat }}</p>
      <p>Number: {{ ticket.number }}</p>

      <p>To: <b>{{ ticket.to }}</b></p>
      <hr>
    </div>
    <hr>
    <div *ngIf="selectedTicket">
      <one-ticket [ticket]="selectedTicket"></one-ticket>
    </div>
  </div>
</div>
